
<div class="compliment_container" style="background-color: <%= @color.bgcolor %>" >
  <h1> <%= @compliment.message.sample %> </h1>
  <a href="compliment"><div class="button">Why, thank you</div></a>
</div>

<div class="image_container">
  <img src= <%= @compliment.image %>>
</div>