body {
  margin: 0;
  padding: 0;
  font-family: 'Nixie One', cursive;
}

/*used to center the header*/
.container {
  overflow: hidden;
  height: 100%;
  position: fixed;
  z-index: 10;
  margin-left: 50%;
}

header {
   /*half circle*/
   height:90px;
   width:180px;
   border-radius: 0 0 90px 90px;
   -moz-border-radius: 0 0 90px 90px;
   -webkit-border-radius: 0 0 90px 90px;
   background:rgba(255,255,255, 1);
   z-index: 5;
   top: 0;
   position: fixed;
   margin-left: -90px;
   text-align: center;
   font-size: 20pt;
   padding-top: 5px;
   font-family: 'Niconne', cursive;
   line-height: 1.1;
}

h1 {
  font-size: 50pt;
  margin: 50px;
  padding-top: 50px;
}

.compliment_container {
  width: 50%;
  height: 100%;
  clear: both;
  position: fixed;
  left: 0;
  color: white;
}

.image_container {
  width: 50%;
  height: 100%;
  position: fixed;
  clear: both;
  right: 0;
  vertical-align: middle;
}

img {
  height: 100%;
  min-width: 650px;
}

.button {
  bottom: 50px;
  width: 240px;
  height: 40px;
  position: fixed;
  background:rgba(255,255,255, 0.3);
  color: white;
  font-size: 20pt;
  padding: 30px 10px 25px 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  left: 15%;
  text-align: center;
}


.button:hover {
  background:rgba(255,255,255, 0.5);

  }